@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }
}

.animate-fade {
    animation: fade 3s infinite;
}

@keyframes expand {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.animate-expand {
    animation: expand 4s infinite;
}